footer.footer .site-footer .first-footer {
    width: 100%;
    float: left;
    padding: 30px 0;
}

footer.footer .site-footer .social_footer .follow_option {
    float: left;
    width: 100%;
    margin-top: 8px;
    padding-left: 0px;
    gap: 20px;
}

footer.footer .site-footer .social_footer .follow_option a {
    color: #b7b7b7 !important;
    font-size: 15px;
    line-height: 30px;
}

.footer {
    background: #313131;
    color: #898989;
    font-size: 13px;
}

.search-bar {
    position: relative;
    align-items: end;
}

.search-bar input,
.search-bar button {
    min-height: 40px;
    width: auto;
    max-width: 100%;
}

.search-bar button {
    width: 40px;
    border: none;
    color: white;
    background-color: #3fb871;
    position: absolute;
    cursor: pointer;
    right: 0;
}

footer .search-bar input {
    width: 500px;
    border: none;
}

.fright a {
    text-decoration: none;
    color: #898989;
}

footer .title-menu {
    color: #3fb871;
    font-size: 14px;
    text-wrap: nowrap;
    font-weight: bold;
    margin-bottom: 20px;
}

.contactfooter .icon {
    color: #3fb871;
}

.first-footer {
    border-bottom: 1px solid #898989;
    padding-bottom: 10px !important;
}

.mid-footer {
    padding-bottom: 20px;
    border-bottom: 1px solid #898989;
}

.mid-footer .row {
    padding-top: 20px;
}

.mid-footer .list-menu li {
    margin-top: 10px;
}

.li_menu a {
    color: #898989;
    text-decoration: none;
    font-size: 12px;
}

.iigpay {
    display: flex;
    justify-content: end;
}

.bg-footer-bottom.clearfix .list-menu li a{
    margin-right: 20px;
    text-decoration: none;
    color: #898989;
}

.bg-footer-bottom {
    padding-top: 20px;
}

.copyright{
    background-color: #505050;
}

.copyright .mobile{
    padding: 5px 0;
    line-height: 30px;
    float: left;
}
