.carousel-indicators li {
    background-color: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.brand-title h2 a {
    border-bottom: 3px solid #3fb871;
    color: #3fb871 !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
    padding-bottom: 12px;
    position: relative;
    text-decoration: none;
}

.brand-title {
    border-bottom: 1px solid #b7b7b7;
    position: relative;
}

.product-feature .container {
    margin-top: 20px;
}

.product-box {
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.product-box img {
    height: auto;
    max-width: 100%;
}

.discount-tag {
    align-items: center;
    background: red;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 14px;
    height: 50px;
    justify-content: center;
    left: 30px;
    padding: 5px 5px;
    position: absolute;
    top: 20px;
    width: 50px;
}

.new-tag {
    align-items: center;
    background: green;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 14px;
    height: 50px;
    justify-content: center;
    left: 30px;
    padding: 5px 5px;
    position: absolute;
    top: 20px;
    width: 50px;
}

.product-name {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.product-name a {
    color: #b7b7b7;
    text-decoration: none;
}

.product-rating {
    color: #FFD700;
}

.price-box {
    margin-top: 10px;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.compare-price {
    color: grey;
    margin-left: 10px;
    text-decoration: line-through;
}

.product-action {
    display: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.product-box:hover .product-action {
    display: block;
}

.btn-buy {
    background: #3fb871;
    border: #3fb871 1px solid;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    padding: 0px;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
}

.btn-buy:hover {
    background: #fff;
    border-color: #36a66d;
    color: #36a66d;
    cursor: pointer;
}

.xem_nhanh {
    align-items: center;
    background: #fff;
    border: solid 1px #fff;
    border-radius: 20px;
    display: flex;
    height: 45px;
    justify-content: center;
    line-height: 45px;
    transition: background-color 0.3s ease-in;
    width: 45px;
}

.xem_nhanh:hover {
    background: #36a66d;
    border-color: #36a66d;
}

.group_action {
    display: flex;
}

.banner-index {
    width: 100%;
}

.banner-index img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.product-thumbnail {
    position: relative;
}

.product-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
    z-index: 1;
}

.product-box:hover .product-overlay {
    opacity: 1;
}

.new-tag, .discount-tag {
    position: absolute;
    z-index: 2;
}

.product-bestsale .item-product .product-box-mini .product-image img.loaded {
    height: auto;
    max-width: 100px;
    max-height: 100px;
    width: auto;
}

.product-bestsale .item-product .product-box-mini .product-image {
    margin: 0 20px;
}

.product-bestsale .item-product .product-box-mini {
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
    text-align: center;
}

.product-bestsale .item-product .product-box-mini .product-info {
    padding-right: 15px;
}


.product-bestsale .item-product .product-box-mini .product-info h3,
.product-bestsale .item-product .product-box-mini .product-info .product-rating,
.product-bestsale .item-product .product-box-mini .product-info .price-box span {
    display: flex;
    font-size: 13px;
    justify-content: start;
    text-wrap: nowrap;
    vertical-align: middle; 
}

.swiper-wrapper {
    padding-bottom: 10px;
    width: 1462px; 
    transform: translate3d(0px, 0px, 0px); 
    transition: all 0ms ease 0s;
}

.swiper-container {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    padding: 0;
    z-index: 1;
}

.swiper-button-prev {
    border: 1px solid #e1e1e1;
    background: #f5f5f5;
    color: #3fb871;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 20px;
    left: calc(100% - 45px);
    opacity: .35;
    outline: none;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 10px;
    text-align: center;
    top: -20px;
    transform: translate(0, -50%);
    transition: all .25s ease;
    width: 20px;
    z-index: 999;
}

.swiper-button-next {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    color: #3fb871;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 20px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: -20px;
    transform: translate(0, -50%);
    transition: all .25s ease;
    width: 20px;
    z-index: 2;
}

.new-product .item.swiper-slide,
.deal-product .item.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    margin-right: 40px;
    position: relative;
    transition-property: transform;
    width: calc(100%/6);
}

.deal-product .swiper-container-multirow>.swiper-wrapper,
.new-product .swiper-container-multirow>.swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.new-product .swiper-wrapper {
    width: 1463px;
}

.new-product .row.mt-5 {
    overflow: hidden;
}

.new-product .item.swiper-slide {
    margin-right: 30px;
    width: 262.5px;
}

.news-tag {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

.news-image img {
    height: auto;
    width: 100%;
}

.news-time {
    color: #aaa;
    font-size: 14px;
    margin-top: 10px;
}

.news-title {
    color: #3fb871;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-title a {
    color: #3fb871;
    text-decoration: none;
}

.news-description {
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}

.read-more {
    margin-top: 10px;
}

.read-more a {
    color: #3fb871;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
}

.news-tag .news-description {
    height: 75px;
}
