.aside-title {
    position: relative;
}

.aside-title .title-head span {
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
    padding-bottom: 12px;
    position: relative;
    text-decoration: none;
}

.aside-content li a{
    padding: 10px 30px 10px 10px;
}

.aside-content li {
    font-size: 30px;
}

.aside-content li a.active {
    font-weight: bold;
}

.breadcrumb .home a {
    color: #898989;
    text-decoration: none;
}

.breadcrumb .current-address span {
    font-weight: normal;
}

.aside-color .aside-content li {
    border-bottom: none;
}

.color-circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.green-circle {
    background-color: #4CAF50;
}

.orange-circle {
    background-color: #FF5722;
}

.violet-circle {
    background-color: #9C27B0;
}

.blue-circle {
    background-color: #2196F3;
}

.yellow-circle {
    background-color: #FFEB3B;
}

.pink-circle {
    background-color: #E91E63;
}

.product-box {
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
}

.product-box img {
    height: auto;
    max-width: 100%;
}

.discount-tag {
    align-items: center;
    background: red;
    border-radius: 50%;
    font-size: 14px;
    height: 50px;
    justify-content: center;
    top: 20px;
    width: 50px;
}

.new-tag {
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    height: 50px;
    justify-content: center;
    top: 20px;
    width: 50px;
}

.product-name {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.product-name a {
    color: #b7b7b7;
    text-decoration: none;
}

.product-rating {
    color: #FFD700;
}

.price-box {
    margin-top: 10px;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.compare-price {
    color: grey;
    margin-left: 10px;
    text-decoration: line-through;
}

.product-action {
    display: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.product-box:hover .product-action {
    display: block;
}

.group_action {
    display: flex;
}

.product-thumbnail {
    position: relative;
}

.product-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
    z-index: 1;
}

.product-box:hover .product-overlay {
    opacity: 1;
}

.new-tag, .discount-tag {
    z-index: 2;
}

.filter-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
}

#sort-by,
#show-by {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: left;
}

#sort-by {
    margin-right: 10px;
}

#sort-by label,
#show-by label {
    font-weight: 400;
    line-height: 33px;
    font-size: 12px;
    margin-right: 6px;
    margin-bottom: 0;
    color: #898989;
}

#sort-by ul,
#show-by ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

#sort-by li,
#show-by li {
    background: #fff;
    margin: 0;
    padding: 0 20px;
    position: relative;
    color: #333;
    border: 1px solid #e5e5e5;
    font-size: 13px;
    cursor: pointer;
    line-height: 34px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

#sort-by>ul>li,
#show-by>ul>li {
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 28px;
    background-image: url(//bizweb.dktcdn.net/100/051/874/themes/877499/assets/ico-select.png?1662432094164) !important;
}

#sort-by li li,
#show-by li li {
    width: 100%;
    margin-top: 0px;
    border: none;
}

#sort-by .sort-option,
#show-by .show-option {
    position: absolute;
    visibility: hidden;
    width: 180px;
    left: -1px;
    top: 34px;
    z-index: 10000;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow: hidden;
    background: #fff;
    padding-left: 0px !important;
}

.banner-category {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 0;
}

.banner-category img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.button-view-mode.active {
    color: #3fb871;
}

.button-view-mode:hover {
    color: #3fb871;
    transition: background-color 0.3s ease-in;
}

.nav_pagi .pagination {
    display: flex;
    justify-content: end;
}

.nav_pagi .pagination .page-link {
    float: left;
    margin: 0 5px;
    border-radius: 0;
    width: 40px;
    background: #fff;
    text-align: center;
    height: 40px;
    font-size: 14px;
    padding: 0;
    line-height: 40px;
    color: #898989;
    border: solid 1px #b7b7b7;
    text-decoration: none;
}

.nav_pagi .pagination .btn-prev,
.nav_pagi .pagination .btn-next {
    float: left;
    margin: 0 5px;
    border-radius: 0;
    background: #fff;
    text-align: center;
    height: 40px;
    font-size: 14px;
    padding: 0;
    line-height: 40px;
    color: #898989;
    border: solid 1px #b7b7b7;
    text-decoration: none;
    padding: 5px;
    display: flex;
    align-items: center;
}

.nav_pagi .pagination .btn-prev a,
.nav_pagi .pagination .btn-next a {
    color: #898989;
}

.nav_pagi .pagination .btn-prev a:hover,
.nav_pagi .pagination .btn-next a:hover {
    color: white;
    text-decoration: none;

}

.nav_pagi .pagination .btn-prev:hover,
.nav_pagi .pagination .btn-next:hover {
    background-color: #3fb871;
    transition: background-color 0.3s ease-in;
}

.page-item.active .page-link {
    color: white;
    background-color: #3fb871;
}

.nav_pagi .pagination .page-link:hover {
    background-color: #3fb871;
    color: white;
    transition: background-color 0.3s ease-in;
}

.nav_pagi .pagination .btn-next {
    margin-right: 0;
}

.item-product .product-box-mini .product-image img.loaded {
    height: auto;
    max-width: 250px;
    max-height: 250px;
    width: auto;
}

.item-product .product-box-mini {
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.item-product .product-box-mini .product-info {
    padding-right: 15px;
}

.item-product .product-box-mini .product-info h3,
.item-product .product-box-mini .product-info .product-rating,
.item-product .product-box-mini .product-info .price-box span {
    display: flex;
    justify-content: start;
    text-wrap: nowrap;
    vertical-align: middle; 
}

.item-product .product-box-mini .product-info .product-description span {
    display: flex;
    justify-content: start;
    text-align: left !important;
}

.item-product .product-box-mini .product-info .xem_nhanh {
    border: 1px solid #b7b7b7;
}
