/* TEXT */
.text-normal-size {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7;
}

.text-normal {
    color: #898989;
}

.text-normal-hover {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7;
}

.text-normal-hover:hover {
    color: #3fb871;
    font-weight: bold;
}

.text-green {
    color: #3fb871;
}

/* MARGIN */
.margin-right-10 {
    margin-right: 10px;
}

/* PADDING */
.padding-left-15 {
    padding-left: 15px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-5 {
    padding: 5px 5px;
}

/* BORDER */
.border-title {
    border-bottom: 3px solid #3fb871;
}

.border-normal {
    border-bottom: 1px solid #b7b7b7;
}

.border-li {
    border-bottom: 1px solid #ebebeb;
}

.border-button {
    border: 1px solid #3fb871;
}

/* FLEX */
.flex-half {
    flex: 0 0 50%;
}

/* BACKGROUND */
.bg-white {
    background-color: #fff;
}

.bg-green {
    background-color: #3fb871;
}

/* BUTTON */
.btn-buy {
    background: #3fb871;
    border: #3fb871 1px solid;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    padding: 0px;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
}

.btn-buy:hover {
    background: #fff;
    border-color: #36a66d;
    color: #36a66d;
    cursor: pointer;
}

.quick-view {
    align-items: center;
    background: #fff;
    border: solid 1px #fff;
    border-radius: 20px;
    display: flex;
    height: 45px;
    justify-content: center;
    line-height: 45px;
    transition: background-color 0.3s ease-in;
    width: 45px;
}

.quick-view:hover {
    background: #36a66d;
    border-color: #36a66d;
    color: white;
}

/* DISPLAY */
.display-none {
    display: none;
}

/* POSITION */
.left-30 {
    left: 30px;
}
