<footer class="footer">
    <div class="site-footer">
        <div class="first-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="social_footer d-flex flex-column">
                            <span class="title-first" data-translate="footer.channelInfo"></span>
                            <ul class="follow_option list-unstyled d-flex">
                                <li>
                                    <a class="facebook" href="#" title="Theo dõi Facebook Green Shop">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#" title="Theo dõi Twitter Green Shop">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="youtube" href="#" title="Theo dõi Google Plus Green Shop">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="vimeo" href="#" title="Theo dõi Vimeo Green Shop">
                                        <i class="fab fa-vimeo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <span class="title-first align-content-start" data-translate="footer.emailSubscription"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 d-flex justify-content-end subcribe_channel">
                        <div class="search-bar">
                            <form action="http://127.0.0.1:5500/src/pages/index.html" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                <input type="email" value="" name="EMAIL" id="mail" aria-label="general.newsletter_form.newsletter_email">
                                <button class="button_subscribe subscribe" name="subscribe" id="subscribe">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mid-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="widget-ft last social_footer">
                            <div class="blocklogo d-flex flex-column mb-2">
                                <a href="/" class="logofooter mb-2">
                                    <img class="lazyload loaded" src="//bizweb.dktcdn.net/100/051/874/themes/877499/assets/logo.png?1676015762533" data-src="//bizweb.dktcdn.net/100/051/874/themes/877499/assets/logo.png?1676015762533" alt="logo Green Shop" data-was-processed="true">
                                </a>
                                <span class="about-footer" data-translate="footer.aboutUs"></span>
                            </div>
                            <div class="contactfooter">
                                <div class="flop">
                                    <div class="section d-flex mb-1">
                                        <span class="icon mr-2"><i class="fa fa-phone"></i></span>
                                        <div class="fright">
                                            <a href="tel:19006750" data-translate="footer.phone"></a>
                                        </div>
                                    </div>
                                    <div class="section d-flex">
                                        <span class="icon mr-2"><i class="fas fa-envelope"></i></span>
                                        <div class="fright">
                                            <a href="mailto:info@dkt.com.vn" data-translate="footer.email"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xsm-12 mt-3">
                        <div class="row rowsfooter">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="widget-ft first">
                                    <h4 class="title-menu" data-translate="footer.customerInfo"></h4>
                                    <ul class="list-menu list-unstyled">
                                        <li class="li_menu"><a href="#" data-translate="footer.myAccount"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.wishlist"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.purchaseHistory"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.returnPolicy"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.feedback"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pl-0">
                                <div class="widget-ft">
                                    <h4 class="title-menu" data-translate="footer.serviceSupport"></h4>
                                    <ul class="list-menu list-unstyled">
                                        <li class="li_menu"><a href="/" data-translate="footer.storeSystem"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.buyGuide"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.paymentGuide"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.rewardPoints"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.faq"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pl-0">
                                <div class="widget-ft">
                                    <h4 class="title-menu" data-translate="footer.policy"></h4>
                                    <ul class="list-menu list-unstyled">
                                        <li class="li_menu"><a href="/" data-translate="footer.shippingPolicy"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.returnProductPolicy"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.warrantyPolicy"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.newProductsIntro"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.installmentPolicy"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                <div class="widget-ft">
                                    <h4 class="title-menu" data-translate="footer.news"></h4>
                                    <ul class="list-menu list-unstyled">
                                        <li class="li_menu"><a href="/" data-translate="footer.newPosts"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.promotion"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.recruitment"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.download"></a></li>
                                        <li class="li_menu"><a href="#" data-translate="footer.tags"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-footer-bottom clearfix">
            <div class="container">
                <div class="inner clearfix">
                    <div class="row tablet">
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <ul class="list-menu list-unstyled d-flex">
                                <li>
                                    <a href="/" data-translate="footer.sitemap"></a>
                                </li>
                                <li>
                                    <a href="#" data-translate="footer.productCategories"></a>
                                </li>
                                <li>
                                    <a href="#" data-translate="footer.cooperation"></a>
                                </li>
                                <li>
                                    <a href="#" data-translate="footer.contactInfo"></a>
                                </li>
                                <li>
                                    <a href="#" data-translate="footer.faq"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <div class="payment_e">
                                <div class="iigpay">
                                    <img class="lazyload loaded" src="//bizweb.dktcdn.net/100/051/874/themes/877499/assets/payment-methods.png?1676015762533" data-src="//bizweb.dktcdn.net/100/051/874/themes/877499/assets/payment-methods.png?1676015762533" alt="Các hình thức thành toán" data-was-processed="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div id="copyright" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fot_copyright d-flex justify-content-center">
                        <span class="wsp">
                            <span class="mobile" data-translate="footer.designBy"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
