<header>
    <div class="top-bar bg-dark text-white py-1">
        <div class="container d-flex justify-content-between text-secondary">
            <div>
                <i class="far fa-clock"></i> <span data-translate="header.openTime"></span>
                <a href="#"><i class="fab fa-facebook-f text-secondary mx-2"></i></a>
                <a href="#"><i class="fab fa-twitter text-secondary mx-2"></i></a>
                <a href="#"><i class="fab fa-tumblr text-secondary mx-2"></i></a>
                <a href="#"><i class="fab fa-vimeo text-secondary mx-2"></i></a>
            </div>
            <div>
                <i class="fas fa-user"></i><a href="#" class="text-decoration-none text-secondary ml-1" data-translate="header.login"></a> | <i class="fas fa-user-plus"></i><a href="#" class="text-decoration-none text-secondary ml-1" data-translate="header.register"></a>
                <select id="language-select" class="ml-3">
                    <option value="en">EN</option>
                    <option value="vi">VI</option>
                </select>
            </div>
        </div>
    </div>
    <!-- Logo và slogan -->
    <div class="header-main">
        <div class="container d-flex">
            <div class="col-lg-5 col-md-5 col-sm-12 logo-main">
                <div class="logo d-flex"> 
                    <a href="/" class="logo-wrapper align-self-center">					
                        <img src="/asset/images/logo.webp" alt="logo Green Shop">					
                    </a>  
                    <img class="img-header hidden-xs lazyload loaded" src="/asset/images/beside_logo.webp" data-src="//bizweb.dktcdn.net/100/051/874/themes/877499/assets/beside_logo.png?1676015762533" alt="Green Shop" data-was-processed="true">
                </div>
            </div>
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-6 hidden-sm hidden-xs align-self-center">
                <div class="header-hotline text-decoration-none text-secondary">
                    <i class="fas fa-phone"></i>
                    <a data-translate="header.support"></a>
                </div>
                <div class="header_search d-flex align-items-center">
                    <form action="/search" method="get" class="input-group search-bar mt-2" role="search">
                        <input type="text" name="query" value="" autocomplete="off" placeholder="" class="input-group-field auto-search" required="" data-translate="header.searchPlaceholder">
                        <span class="input-group-btn f-right">
                            <button type="submit" class="btn icon-fallback-text">
                             <span class="fa fa-search"></span>      
                            </button>
                        </span>
                    </form>
                    <div class="top-cart-contain f-right">
                        <div class="text-xs-center mini-cart content_cart_header block-cart">
                            <div class="heading-cart cart_header">
                                <a class="img_hover_cart d-flex" href="#" title="Giỏ hàng">
                                    <i class="fas fa-shopping-basket text-decoration-none text-dark" aria-hidden="true"></i>
                                    <span class="count_item cartCount count_item_pr hidden-count text-decoration-none text-dark">0</span><span class="hidden-xs text-decoration-none text-dark" data-translate="header.cart"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- Thanh menu chính -->
    <nav class="header-menu bg-success">
        <div class="container d-flex justify-content-start align-items-center">
            <i class="fas fa-bars text-white px-3"></i>
            <a href="#" class="active text-white px-3" data-translate="header.home"></a>
            <a href="#" class="text-white px-3" data-translate="header.about"></a>
            <div class="dropdown">
                <a href="#" class="text-white px-3 dropdown-toggle" data-toggle="dropdown" data-translate="header.products"></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-translate="header.product1"></a>
                    <a class="dropdown-item" href="#" data-translate="header.product2"></a>
                    <a class="dropdown-item" href="#" data-translate="header.product3"></a>
                    <a class="dropdown-item" href="#" data-translate="header.product4"></a>
                    <a class="dropdown-item" href="#" data-translate="header.product5"></a>
                    <a class="dropdown-item" href="#" data-translate="header.product6"></a>
                    <a class="dropdown-item" href="#" data-translate="header.product7"></a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="text-white px-3 dropdown-toggle" data-toggle="dropdown" data-translate="header.newProducts"></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-translate="header.newProduct1"></a>
                    <a class="dropdown-item" href="#" data-translate="header.newProduct2"></a>
                    <a class="dropdown-item" href="#" data-translate="header.newProduct3"></a>
                    <a class="dropdown-item" href="#" data-translate="header.newProduct4"></a>
                    <a class="dropdown-item" href="#" data-translate="header.newProduct5"></a>
                    <a class="dropdown-item" href="#" data-translate="header.newProduct6"></a>
                    <a class="dropdown-item" href="#" data-translate="header.newProduct7"></a>
                </div>
            </div>
            <a href="#" class="text-white px-3" data-translate="header.news"></a>
            <a href="#" class="text-white px-3" data-translate="header.contact"></a>
        </div>
    </nav>
</header>
